#navbar {
    overflow: hidden;
    background-color: #0b7dda;
    padding: 5px 1px;
    /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s;
    /* Adds a transition effect when the padding is decreased */
    position: static;
    /* Sticky/fixed navbar */
    width: 100%;
    top: 50;
    /* At the top */
    z-index: 99;
    height: fit-content;
}

/*homepage buttons*/

#homeButtons{
    padding-bottom: 15px;
}
#homeButtons table td{
    width: 33%;
    background-color: #0b7dda;
}

/* Style the navbar links */

#navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    transition: 0.4s;
    width: 20%;
}


/* Style the logo */

#navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
}
#navbar #logo:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}


/* Links on mouse-over */

#navbar a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}


/* Style the active/current link */

#navbar a.active {
    background-color: rgb(130, 187, 243);
    color: white;
}


/* Display some links to the right */

#navbar-right {
    float: right;
    width: 45%;
}


#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  #dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: auto;
  }
  
  #dropdown-content a:hover {
    background-color: #ddd;
  }
  
  #dropdown:hover #dropdown-content {
    display: block;
  }
  #dropdown {
      width: 20%;
    float: left;
    overflow: hidden;
  }
  
  #dropdown #dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
#search {
    position: static;
    margin-top: 40px;
    vertical-align: text-top;

}

#details {
    position: static;
    margin-top: 70px;
    margin-bottom: 70px;;
}
#comments{
    background-color:  rgb(142, 157, 207);
    width: 60%;
    margin: auto;
    position: static;
    margin-top: 70px;
    margin-bottom: 70px;
}

#audio{
    margin-top: 40px;
    width : auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#spellcheck-input{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    height : 300px;
    width: 90%;
    background: #f1f1f1;
}
#gramcheck-input{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    height : 300px;
    width: 90%;
    background: #f1f1f1;
}
#home-input{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    height : 300px;
    width: 90%;
    background: #f1f1f1;
}


/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */

@media screen and (max-width: 700px) {
    #navbar {
        padding: 8px 5px !important;
        /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    }
    #navbar a {
        float: none;
        display: block;
        text-align: left;
        font-size: 12px;
        padding : 8px;
        width: 100%
    }
    #navbar-right {
        width: 100%;
        float: none;
    }
}

body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}


form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
form.spell textarea {
    width: auto;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid  #000000;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form.spell button{
    width: 90%;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


* {
    box-sizing: border-box
}


/* Set height of body and the document to 100% */

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}


/* Style tab links */

.tablink {
    background-color: #555;
    color: white;
    float: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 18px;
    width: 100%;
    height: 72px;
    display: block;
    position: relative;
}
.homelink {
    background-color: #555;
    color: white;
    float: inherit;
    border: 3px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 18px;
    width: 100%;
    height: 72px;
    display: block;
    position: relative;
}

.btn-group {
    display: block;
}

.tablink:hover {
    background-color: #777;
}
.homelink:hover {
    background-color: rgb(15, 116, 231);
}

.tablink-div {
    width: 600px;
    height: 800px;
    display: block;
    margin-right: auto;
    padding: 0px;
}
@media (max-width : 700px){
    .tablink-div {
        width: 200px;
    }
    #comments{        
        width: 80%;
    }
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    padding-top: 0%;
    height: 288px;
    vertical-align: top;
    overflow-y: scroll;
}

#Home {
    background-color: #0b7dda;
}

#News {
    background-color: #0b7dda;
}

#Contact {
    background-color: #0b7dda;
}

#About {
    background-color: #0b7dda;
}

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    color: rgb(255, 255, 255);
    font: outline;
}


/* images*/

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #232741;
    background-image: url('');
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}